<!-- SEARCH EVENTS BY TAGS -->

<div id="search-by-tags"
     class="search-methods" flex>

    <h4>Please type in the tag(s) you want to search events by.</h4>

    <md-chips
            ng-model="event.tags"
            readonly="event.readonly"
            placeholder="Enter a tag"
            delete-button-label="Remove Tag"
            delete-hint="Press delete to remove tag"
            secondary-placeholder="+Tag"></md-chips>

    <!-- How to filter by Tags -->
    <md-radio-group ng-model="event.tagOption"
                    layout="column"
                    id="tags-radiogroup">

        <md-radio-button value="AllTags">
            All tags have to be present in event.
        </md-radio-button>

        <md-radio-button value="NotAllTags">
            At least one tag has to be present in event.
        </md-radio-button>

    </md-radio-group>

    <div>
        <!-- Search button -->
        <md-button class="md-raised md-primary"
                   ng-click="event.getEventsByTags()">
            Search
        </md-button>
    </div>

</div>